<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Pivotal Concourse Documentation
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/p-concourse/5-x/index.html">Concourse for PCF</a>
      </li>
      <li>
        <a href="/p-concourse/5-x/installing.html">Installing Concourse</a>
      </li>
      <li>
        <a href="/p-concourse/5-x/encryption.html">Encrypting the Concourse Database</a>
      </li>
      <li>
        <a href="/p-concourse/5-x/credential-management.html">Credential Management in Concourse</a>
      </li>
      <li class="has_submenu expanded">
          <a>Configuring Team Authentication</a>
          <ul>
             <li>
                <a href="/p-concourse/5-x/authenticating/local-auth.html">Configuring Local Users</a>
             </li>
             <li>
                <a href="/p-concourse/5-x/authenticating/github-auth.html">Configuring GitHub Authentication</a>
             </li>
             <li>
                <a href="/p-concourse/5-x/authenticating/cf-auth.html">Configuring Cloud Foundry Authentication</a>
             </li>
             <li>
                <a href="/p-concourse/5-x/authenticating/oidc-auth.html">Configuring OIDC Authentication</a>
             </li>
             <li>
                <a href="/p-concourse/5-x/authenticating/oauth-auth.html">Configuring OAuth Authentication</a>
             </li>
          </ul>
       </li>
      <li>
        <a href="/p-concourse/5-x/troubleshooting.html">Monitoring and Troubleshooting</a>
      </li>
      <li>
        <a href="/p-concourse/5-x/guides.html">Concourse Guides</a>
      </li>
      <li>
        <a href="/p-concourse/5-x/architecture.html">Concourse Architecture</a>
      </li>
      <li>
        <a href="/p-concourse/5-x/rn.html">Concourse Release Notes</a>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
