<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Pivotal Concourse Documentation
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/p-concourse/5-n/index.html">Concourse for PCF</a>
      </li>
      <li>
        <a href="/p-concourse/5-n/installing.html">Installing Concourse</a>
      </li>
      <li>
        <a href="/p-concourse/5-n/encryption.html">Encrypting the Concourse Database</a>
      </li>
      <li>
        <a href="/p-concourse/5-n/credential-management.html">Credential Management in Concourse</a>
      </li>
      <li class="has_submenu">
          <a href="/p-concourse/5-n/authenticating/authenticating.html">Configuring Team Authentication</a>
          <ul>
             <li class="">
                <a href="/p-concourse/5-n/authenticating/local-auth.html">Configuring Local Users</a>
             </li>
             <li class="">
                <a href="/p-concourse/5-n/authenticating/github-auth.html">Configuring GitHub Authentication</a>
             </li>
             <li class="">
                <a href="/p-concourse/5-n/authenticating/cf-auth.html">Configuring Cloud Foundry Authentication</a>
             </li>
             <li class="">
                <a href="/p-concourse/5-n/authenticating/oidc-auth.html">Configuring OIDC Authentication</a>
             </li>
             <li class="">
                <a href="/p-concourse/5-n/authenticating/oauth-auth.html">Configuring oAuth Authentication</a>
             </li>
          </ul>
       </li>
      <li>
        <a href="/p-concourse/5-n/troubleshooting.html">Monitoring and Troubleshooting</a>
      </li>
      <li>
        <a href="/p-concourse/5-n/guides.html">Concourse Guides</a>
      </li>
      <li>
        <a href="/p-concourse/5-n/architecture.html">Concourse Architecture</a>
      </li>
      <li>
        <a href="/p-concourse/5-n/rn.html">Concourse Release Notes</a>
      </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
